h1{
    /*border-left-style:solid;
    border-top-style:ridge;
    border-bottom-style:dashed;
    border-right-style:double;
    */
    /*border-style:solid;
    border-color:brown;
    border-width:10px;*/
    border: 5px solid blue;
    border-radius:10px;

}